<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Echo — Music Recommender</title>
    <!-- Include Bootstrap only for layout grid utilities -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1.2">
  </head>
<body>

  <header class="navigation">
    <div>
      <img class="brand-logo-img rotate-me" src="{{ url_for('static', filename='images/nav-bar-vinyl.png') }}" alt="logo">
    </div>
      <a href="{{ url_for('index') }}" class="brand-name">  Echo</a>
      
      <div class="nav-items">
          {% if session.get("user_id") %}
              <a href="{{ url_for('liked') }}" class="nav-link-custom">Liked Songs</a>
              <a href="{{ url_for('logout') }}" class="btn-retro">Log Out</a>
          {% else %}
              <a href="{{ url_for('login') }}" class="nav-link-custom">Liked Songs</a>
              <a href="{{ url_for('login') }}" class="btn-retro">Log Out</a>
          {% endif %}
      </div>
  </header>

  <main class="app-container">
      {% block content %}{% endblock %}
  </main>
</body>
</html>
