{% extends "base.html" %}

{% block content %}
<div class="auth-card">
    {% if error %}
        <div class="alert-retro alert-danger-retro mb-4">{{ error }}</div>
    {% endif %}
    
    <form method="POST" class="text-center">
        <div class="mb-4 text-start">
            <label class="input-label">enter username</label>
            <input type="text" name="username" class="form-control-dark" placeholder="Enter username" required>
        </div>
        <div class="mb-4 text-start">
            <label class="input-label">enter password</label>
            <input type="password" name="password" class="form-control-dark" placeholder="Enter password" required>
        </div> 
        <div class="mb-4 text-start">
            <label class="input-label">confirm password</label>
            <input type="password" name="confirm_password" class="form-control-dark" placeholder="Confirm password" required>
        </div> 
        
        <button type="submit" class="btn-submit-auth w-100 mt-2" style="border-radius: 20px;">submit</button>
    </form>
    
    <p class="mt-4 text-center fs-5">
        already have an account? <a href="{{ url_for('login') }}" class="text-decoration-underline text-dark">login here</a>
    </p>
</div>
{% endblock %}